.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.GameItem{
  box-shadow: 6px 4px 9px -1px rgba(0,0,0,1);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 360px;
  line-height: 360px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: black;
}

h3.SortBy {
  color: rgb(255, 255, 255);
}

.ant-input {
  background: #565656;
}

.ant-input-search-icon {
      color: rgba(255, 255, 255, 0.45);
}

div.ant-card-meta-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
}

div.ant-card-meta-description{
  font-size: 15px;
  float: right;
  color: rgba(255, 255, 255, 0.85);
}
div.ant-card-body{
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  
}

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}
.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

h4.detailGame{
  font-size: 15px;
  color: white;
}

h2.titleGame{
  font-size: 20px;
  color: white;
}
div.ant-col.ant-col-6{
  width: 362px;
  padding-bottom: 15px;
}

.slick-slide img {
  margin: auto;
  width: 100%;
}

.ant-breadcrumb-link,
#root > section > main > div > section > main > main > div.ant-row-flex.ant-row-flex-start > div > main > div > div.ant-page-header-heading > span{
  color: white;
}

#root > section > main > div > section > main > main > div.ant-row-flex.ant-row-flex-start > div > main > div > div.ant-breadcrumb > span:nth-child(1) > span.ant-breadcrumb-link > a{
  color: rgb(134, 134, 134);
}

#root > section > main > div > section > main > main > div.ant-row-flex.ant-row-flex-start > div > main > div > div.ant-breadcrumb > span:nth-child(1) > span.ant-breadcrumb-link > a:hover{
  color: orange;
}

a .klk:last-child {
  display: none;  
}
a:hover .klk:last-child {
  display: block;  
}
a:hover img:first-child {
  display: none;  
}


.headdowlode{
  text-align: center;
}

figure.effect-honey {
	background-color: #000;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  left: 40px;
}

figure.effect-honey:hover img {
  opacity: 0;
}

figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-honey h2 {
	position: absolute;
	bottom: 20;
	left: 0;
	padding: .3em 1.5em;
	width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-40px,0);
  transform: translate3d(0,-40px,0);
  opacity: 0;
}

/* figure.effect-honey h2 i {
	font-style: normal;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
} */

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: .8em 1em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px ;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #363636;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 200px;
	max-width: 200px;
	opacity: 0.9;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gamedownload{
	background-color: #363636;
}

.backgroundPage{
  /* background-image: linear-gradient(-90deg,black,#282c34); */
  font-size: 20px;
  color: "#fff";
  min-height: 310vh;
}
.thecommunityrecomment{
	height: 440px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.GameStreaming{
	background-color: #363636;
}
h1,h2,h3,h4{
color:white;
}


